.card {
  width: 300px;
  background-color: #e8d9c7;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 16px;
  padding: 16px;
  text-align: center;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card .wizard-image {
  width: 300px;
  height: 300px;
}


.card h3 {
  margin-top: 16px;
  font-size: 20px;
  font-weight: bold;
  color: #6d5f4b;
}

.card p {
  margin-top: 8px;
  font-size: 16px;
  color: #8f7a66;
}

a {
  text-decoration: none;
  color: inherit;
  /* Inherit the color from the parent element */
}

a:hover {
  text-decoration: none;
  /* Remove underline on hover */
}

@media (max-width: 768px) {
  .card-container {
    justify-content: space-around;
  }
}

@media (max-width: 480px) {
  .card-container {
    justify-content: center;
  }
}
